In [1]:
import pandas as pd

In [2]:
dataset_1=pd.read_csv('enronSpamSubset.csv')
dataset_2=pd.read_csv('lingSpam.csv')

In [3]:
print(dataset_1.shape)
print(dataset_2.shape)

(10000, 4)
(2605, 3)

# cleaning Dataset_1

In [4]:
dataset_1.head()

,Unnamed: 0,Unnamed: 0.1,Body,Label
0,2469,2469,Subject: stock promo mover : cwtd\n * * * urge...,1
1,5063,5063,Subject: are you listed in major search engine...,1
2,12564,12564,"Subject: important information thu , 30 jun 20...",1
3,2796,2796,Subject: = ? utf - 8 ? q ? bask your life with...,1
4,1468,1468,"Subject: "" bidstogo "" is places to go , things...",1

In [5]:
dataset_1=dataset_1[['Body','Label']]
dataset_1.head()

                                                Body  Label
0  Subject: stock promo mover : cwtd\n * * * urge...      1
1  Subject: are you listed in major search engine...      1
2  Subject: important information thu , 30 jun 20...      1
3  Subject: = ? utf - 8 ? q ? bask your life with...      1
4  Subject: " bidstogo " is places to go , things...      1

In [6]:
print(dataset_1.shape)
dataset_1.dropna()
dataset_1.shape

(10000, 2)

(10000, 2)

# Cleaning Dataset_2

In [7]:
dataset_2.head()

   Unnamed: 0                                               Body  Label
0           0  Subject: great part-time or summer job !\n \n ...      1
1           1  Subject: auto insurance rates too high ?\n \n ...      1
2           2  Subject: do want the best and economical hunti...      1
3           3  Subject: email 57 million people for $ 99\n \n...      1
4           4  Subject: do n't miss these !\n \n attention ! ...      1

In [8]:
dataset_2=dataset_2[['Body','Label']]
dataset_2.head()

                                                Body  Label
0  Subject: great part-time or summer job !\n \n ...      1
1  Subject: auto insurance rates too high ?\n \n ...      1
2  Subject: do want the best and economical hunti...      1
3  Subject: email 57 million people for $ 99\n \n...      1
4  Subject: do n't miss these !\n \n attention ! ...      1

In [9]:
dataset_2.shape

(2605, 2)

In [10]:
dataset_2.dropna()
dataset_2.shape

(2605, 2)

# Merging the datasets

In [13]:
dataset=pd.concat([dataset_1,dataset_2])
dataset.head()

                                                Body  Label
0  Subject: stock promo mover : cwtd\n * * * urge...      1
1  Subject: are you listed in major search engine...      1
2  Subject: important information thu , 30 jun 20...      1
3  Subject: = ? utf - 8 ? q ? bask your life with...      1
4  Subject: " bidstogo " is places to go , things...      1

In [14]:
dataset.shape

(12605, 2)

In [15]:
dataset.drop_duplicates(inplace=True)
dataset.shape

(12278, 2)

# converting Dataframe to CSV file

In [16]:
dataset.to_csv('Data.csv',index=False)